[Unit]
Description=Xiaoqiang Statistics Web Service

[Service]
Type=simple
User=bwbot
ExecStart=/home/bwbot/data/src/galileo_matrix/target/debug/galileo_matrix

[Install]
WantedBy=multi-user.target

